
body {
  font-family: 'Ebrima', sans-serif;
  background-image: linear-gradient(to top, #1E3542,rgba(0,0,0,1));
  padding: 1em 3em;
/*   padding: 1em 8em 2em 8em; */

}
#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr, 1fr;
  column-gap: 2em;
}


#barchart, #count {
  padding-top: 1em;
}
