/* @font-face {
    font-family: "Broadway Engraved BT";
    src: url("assets/Fonts/Broadway\ Engraved\ BT.ttf");

    }
     */
    
body {
    font-family: 'Ebrima', sans-serif;;
    margin: 0%;
    color: #bbb;
    
}

h1 {
    font-family: 'Ebrima', sans-serif;;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-family: 'Ebrima', sans-serif;;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-family: 'Ebrima', sans-serif;;
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: 'Ebrima', sans-serif;;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}



/* INTRODUCTION */

#title-wrapper {
    background-color: #050607;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}

#intro-image-credit {
    font-size: 10px;
    color: #aaaaaa;
    background-color: #050607;
}

#intro-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    font-family:'Broadway Engraved BT',sans-serif;
    color: white;
    background-color: #050607;
    padding: 1% 0% 2% 0%;
}
#intro-content {
    color:rgb(143, 143, 143);
}

.content{
    text-align: left;
    font-size: 20px;
    padding: 1% 5% 1% 5% ;
    color:rgb(143, 143, 143);

}
#content-wrapper {
background-image: linear-gradient(to top, #1E3542,rgba(0,0,0,1)); 
}




/* SECTIONS */
.section-title {
    z-index: 10000;
    padding: 2%;
    text-align: center;
    position: sticky;
    top: 0%;
/*     background-color: #050607; */
    background: linear-gradient(to bottom,#050607 0%,#050607  50% ,rgba(5, 6, 7, 0.1) 100%); 
 /*    border-bottom: 2px solid lightgrey; */
    font-family: 'Montserrat', 'Visby',sans-serif;
    font-size: 30px;
    font-weight: "bold";
    margin: 0%;
}

.section {
    background-color: #050607;
}

.emphasizedtext{
    font-style:italic;
}


/* .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
} */

/* Section 1 Styles */

.part1 {
    background-image: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0)); 
    opacity: 1;
}
#part1-map{
    padding:0px 10px;
}
#part1-content{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0em;  
}
#part1-text{
    position: sticky;
    margin-block-start: 1em;
    min-width: 200px;
    font-size:16px;
}
/* .imageB{
    border: 10px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;

  } 

.imageOff{
    border: 10px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }  */
  /*
#part1-tooltip{
    line-height:2em;
     margin-bottom: 2em; 

*/

.spaced-text{
    margin-bottom: 0.5em;  
}
.image {
    padding: 12px 2px;
    }


.circle:hover {
    transform: scale(1.5);
    box-shadow: 0px 0px 4px grey;
    border: 0.5px solid white;
    transition: 0.03s;
    cursor: pointer;
    cursor:hand;
}

button {
    width: 40%;
    max-width: 150px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(256,256,256,0.9);
    margin: 10px 5px 7px 0px;  
    border: 1px white;
    cursor: pointer;
    display: inline-block;
    height: 2.5em;
    line-height: 2em;
    text-align: center;
    background-color: rgba(256,256,256,0.1);
    outline-color: white;
  }
  button:hover {
    background-color: rgba(256,256,256,0.2);
    color: white;
  }

  #theaterdropdown{   
    clear:both;
    float:right;
    position:absolute;
    z-index:100;
    width:140px;
    background-color: rgba(256,256,256,0.1);
    padding: 5px;
    margin: 20px 40px;
    color: white;
    outline-color: white;
    }

  #change-radius {
    clear:both;
    float:right;
    width:220px;
    position:absolute;
    right:32%;
    z-index:7;
    width:250px;
    padding: 25px 10px 15px 5px;
    background: linear-gradient(to right,rgba(5, 6, 7, 0) 0%,rgba(5, 6, 7, 0.2) 30% ,rgba(5, 6, 7, 0.8) 100%); 
    text-align: right;

}
#radius-checker{
    font-size:15px;   
}

  /* Section 2 Styles */



#part2-content{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0em;  
}
#part2-text{
    position: sticky;
    margin-block-start: 1em;
    font-size:16px;
}
#part2-description{
    padding: 10px 10px;
}





label {
    font-size: 10px;
}
  #tooltip2 {
    position: absolute;
    z-index:20000;
/*     width: auto; */
/*     height: auto; */
    padding: 18px 18px 5px 18px;
    color:white;
    width: 430px; 
   /*  background-color: rgba(256, 256, 256 ,0.1); */
    background-color:rgba(18,19,20, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
  
  #tooltip2.hidden {
    display: none;
  }
  
  #tooltip2 h1 {
  
    font-size: 13px;
    line-height: 40px;
  }
  #tooltip2 h2 {
    margin: 0;
    color: #DC756D;
    font-size: 18px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
    border-radius: 5px;
    padding: 7px 10px 
  } 
  #tooltip p {
    font-size: 13px;
    color: #ccc;
  }

#poster image{
    width:50px;
    background-color:rgba(18,19,20, 1);
}
#show-info{  
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 0em;  
}

#show-attributes {
    padding: 12px 20px;
/*     min-width:80px; */
    }
.attribute-name{
    color:rgb(90, 90, 90);
}
#synopsis {
        font-size: 13px;
        color: rgb(168, 168, 168);
      }

#sort-dropdown {
        background-color: rgba(256,256,256,0.1);
        color: white;
        padding: 5px;
        margin: 5px 0px;
        width: 100%;
        outline-color: white;
      }
#legend{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #DC756D),color-stop(1,#8596B7));
    background-image: gradient( linear, left top, right top, color-stop(0, #DC756D), color-stop(1, #8596B7) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 15px;
    font-style:italic;
    line-height:2em;
}



/* Section 3 Styles */


#part3-text{
        padding:3% 5% 1% 5% ;
        font-size:16px;
    }
    
#part3-content{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2em;  
    }
#part3-details {
    position:relative;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 5px 5px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: rgb(190, 190, 190);
}
thead>tr>:nth-child(2) {
    color:rgb(190, 190, 190);
    width:50px;
    text-align:right;
}  
td{
    padding: 5px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: rgb(139, 139, 139);
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
  
tbody>tr>:nth-child(2) {
    color:rgb(190, 190, 190);
    width:200px;
    text-align:right;
}  

.filter-container {
    position: sticky;
    margin-block-start: 1em;
    display: inline-block;
    margin-left:60px;
  }

  
#showsdropdown,#showsdropdown2 {
    background-color: rgba(256,256,256,0.1);
    color: white;
    padding: 5px;
    margin: 0px 0px 5px 10px;
    width: 46%;
    outline-color: white;
    vertical-align:middle;
  }

#tooltip3 {
    position: absolute;
    width: 200px;
    height: 70px;
    padding: 10px;
    color:white;
    z-index:20000;
   /*  background-color: rgba(256, 256, 256 ,0.1); */
   background-color:rgba(18,19,20, 1);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

#part3-text-column{
        position: sticky;
        margin-block-start: 1em;
        font-size:16px;
    }
    
#tooltipheader3{
    font-size: 16px;
    color: #DC756D;
    margin-bottom: 0 em;  
}
.tight-text{
        margin-bottom: 0.5em;  
    }
#tooltip3 p {
        font-size: 13px;
        color: #ccc;
        margin-bottom: 0.2em;
      }
    


